.first-row{
    display: flex;
    
}

.search{
    margin-left: 85px; 
}

.button-add {
    display: flex;
    justify-content:right ; 
    width: 100%;
    margin-top: 16px; 
    
}

.button-add a {
    margin-right: 134px; 
  }