<div class="button-back">
  <a mat-raised-button color="primary" routerLink="/">back</a>
</div>


<div class="title-container">
  <h1 class="title" *ngIf="flightId; else addFlightTitle">Edit Flight {{flightId}}</h1>
  <ng-template #addFlightTitle>
    <h1 class="title">New Flight</h1>
  </ng-template>
</div>

<div>

  <form [formGroup]="flightForm" class="centered-form" (ngSubmit)="saveFlight()">
    <div *ngIf="!flightId">
      <mat-form-field appearance="fill">
        <mat-label>Flight Number</mat-label>
        <input matInput id="flightNumber" formControlName="flightNumber" required>
      </mat-form-field>
    </div>
   
    <div>
      <mat-form-field appearance="fill">
        <mat-label>takeOffAirport</mat-label>
        <input type="text" placeholder="takeOffAirport" matInput
           [formControl]="takeOffReportsControl"
          [matAutocomplete]="autoTakeOff"
          >
        <mat-autocomplete autoActiveFirstOption #autoTakeOff="matAutocomplete" [displayWith]="displayAirport">
          <mat-option *ngFor="let option of filteredAirports$ | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    
    






    <div>
      <mat-form-field appearance="fill">
        <mat-label>landingAirport</mat-label>
        <input type="text" placeholder="landingAirport" matInput
           [formControl]="landingReportsControl"
          [matAutocomplete]="autoLand"
          >
        <mat-autocomplete autoActiveFirstOption #autoLand="matAutocomplete" [displayWith]="displayAirport">
          <mat-option *ngFor="let option of landFilteredAirports$ | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    
    
  

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Takeoff Time</mat-label>
        <input matInput id="takeoffTime" formControlName="takeoffTime" type="time" required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Landing Time</mat-label>
        <input matInput id="landingTime" formControlName="landingTime" type="time" required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select id="status" formControlName="status" required>
          <mat-option [value]="0">Hangar</mat-option>
          <mat-option [value]="1">Airborne</mat-option>
          <mat-option [value]="2">Malfunction</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="flightForm.invalid || isSaved">Save
        Flight</button>
    </div>
  </form>
</div>