

.button-back {  
    display: flex;
    justify-content:right ; /* הכפתור יהיה מיושר שמאלה */
    width: 100%;
    margin-top: 16px;
    
}


.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }


  .title {
    font-size: 32px;
    font-weight: bold;
    color: #3f51b5; /* צבע כחול מותאם לסגנון Material Design */
    text-align: center;
  }
  

  
.button-back a {
    margin-right: 400px; /* מאפשר לכפתור להתחיל באותו מיקום כמו שאר הקומפוננטות */
  }

  .centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}