<div class="container">
    <form class="search-form">
        <mat-form-field class="input-field">
            <mat-label>Flight number</mat-label>
            <input matInput placeholder="Flight number">
        </mat-form-field>

        <mat-form-field class="input-field">
            <mat-label>Takeoff</mat-label>
            <input matInput placeholder="Takeoff">
        </mat-form-field>
        <div class="example-button-row">
            <button mat-stroked-button (click)="search()">Search</button>
        </div>
    </form>
</div>