<div class="container" >
    <form [formGroup]="serchForm" (ngSubmit)="search()"  class="search-form">
        <mat-form-field class="input-field">
            <mat-label>Flight number</mat-label>
            <input matInput formControlName="flightNumber" placeholder="Flight number">
        </mat-form-field>

        <mat-form-field class="input-field">
            <mat-label>Takeoff</mat-label>
            <input matInput formControlName="takeoff" placeholder="Takeoff">
        </mat-form-field>
        <div class="example-button-row">
            <button mat-stroked-button type="submit">Search</button>
        </div>
    </form>
</div>